.animate-in {
  animation: animationIn 0.5s linear;
}
@keyframes animationIn {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(00px);
  }
}

.animate-bounce-in {
  animation: animate-bounce-in 2s linear;
}
@keyframes animate-bounce-in {
  0% {
    transform: scale(0.2);
  }
  25% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(0.7);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

 
.animate-fadein {
  animation: animateFadein 1s linear;
}

@keyframes animateFadein {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fadeout {
  opacity: 0;
  transition: all 0.5s;
 
}
 

.zoom-in {
  animation: zoomIn 1s linear;
}
@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
