.animate-in {
  animation: animationIn 0.5s linear;
}
@keyframes animationIn {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(00px);
  }
}

.animate-bounce-in {
  animation: animate-bounce-in 2s linear;
}
@keyframes animate-bounce-in {
  0% {
    transform: scale(0.2);
  }
  25% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(0.7);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.left-in {
  animation: leftIn 2s linear;
  transition: all 1s ease-in-out;
}
@keyframes leftIn {
  0% {
    transform: translateX(-50px);
  }
  25% {
    transform: translateX(100px);
  }
  50% {
    transform: translateX(-100px);
  }
  75% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

 