.animate-in {
  animation: animationIn 0.7s linear;
}
@keyframes animationIn {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(00px);
  }
}

.animate-bounce-in {
  animation: animate-bounce-in 2s linear;
}
@keyframes animate-bounce-in {
  0% {
    transform: scale(0.2);
  }
  25% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(0.7);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.animate-fadein {
  animation: animateFadein 1s linear;
}

@keyframes animateFadein {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fadeout {
  opacity: 0;
  transition: all 0.5s;
}

.zoom-in {
  animation: zoomIn 0.7s linear;
}
@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.h1-in {
  animation: headingIn 0.7s linear;
}

@keyframes headingIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-card-in {
  animation: animateCardIn 0.7s linear;
}
@keyframes animateCardIn {
  0% {
    opacity: 0;
    transform: translateY(100px) scale(0.4);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.spin-in-view {
  animation: spinInView 0.7s linear;
}
@keyframes spinInView {
  0% {
    transform: rotate(0deg) scale(0.3);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
}
