@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
.btn {
  @apply 2xl:px-[30px] xl:px-[29px] lg:px-[25px] md:px-[20px] sm:px-[15px] px-[13px]   2xl:py-[14px] xl:py-[13px] lg:py-[13px] md:py-[13px] sm:py-[10px] py-[7px]  2xl:text-[18px] xl:text-[18px] lg:text-[16px] md:text-[14px] sm:text-[13px] text-[11px] text-[#FFFFFF] bg-[#FD0808] font-[700] transition-all duration-[0.3s];

  border-radius: 20px 3px;
}
.btn:hover {
  border-radius: 3px 20px;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}
.scale-on-hover{
  transition: all 0.3s;
}
.scale-on-hover:hover{
   transform: scale(1.1);
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: red;
  transform-origin: 0%;
  z-index: 100;
  @apply md:h-[7px] h-[5px];
}

.slider-image-right {
  animation: fadeIn 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translatex(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.slider-image-left {
  transition: all 0.5s ease-in-out;
  animation: fadeInLeft 0.5s ease-in-out;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translatex(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.slider-btn {
  @apply 2xl:text-[60px] xl:text-[50px] lg:text-[40px] md:text-[30px] sm:text-[20px] text-[18px];
}
